portal-ui/.idea/
portal-ui/node_modules/
portal-ui/bower_components/
portal-ui/typings/
portal-ui/npm-debug.log*
portal-ui/.DS_Store
portal-ui/.env
portal-ui/dist/
portal-ui/translations/
portal-ui/.tmp/
portal-ui/coverage/
portal-ui/report/
portal-ui/.git

*__pycache__
*flask_caching
portal-api/config.ini
portal-api/config.json
portal-api/conf.py
portal-api/portal_api.wsgi
portal-api/portal-apache2.conf
portal-api/.git

neo4j/
*.svn
svn-ignore.txt